{% extends 'header.html' %}
{% load bootstrap4 %}
{% load fontawesome_5 %}

{% block content %}
{% bootstrap_css %}
{% fontawesome_5_static %}

{% if form.errors %}
    <div class="alert alert-danger" role="alert">Something you entered doesn't look quite right.</div>
{% endif %}

{% if next %}
    <div class="alert alert-danger" role="alert">You do not have access to this page!</div>
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <p>Username: {{ form.username }}</p>
    <p>Password: {{ form.password }}</p>

    <p><input type='submit' value='login'></p>
    <input type='hidden' name='next' value='{{ next }}'>
</form>



{% endblock content %}